@font-face {
    font-family: 'quantumregular';
    src: url('/font/quantum-webfont.woff2') format('woff2'),
         url('/font/quantum-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.dicebackground{
    background-image: url(/IMG/backgroundfuturist.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundgame{
    background-image: url(/IMG/1471.jpeg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(155,0,185,1);
}
header{
    margin: 1.5rem;
    text-decoration: none;
    font-family: 'quantumregular';}
h1{
    font-size: clamp(25px, 10vw, 7rem);
}

h2{
    font-family: 'quantumregular';
    font-size: clamp(16px, 10vw, 4rem);
}
.securescore{
    font-size: clamp(18px, 10vw, 5rem);
    color: green;

}
.btnrolldice{
    background: linear-gradient(140deg, rgba(254,217,59,1) 0%, rgba(255,109,53,1) 70%, rgba(255,58,86,1) 100%);
}
.btnsecuriser{
    background: linear-gradient(180deg, rgba(0,23,47,1) 0%, rgba(155,0,185,1) 100%);
}
.totalscore{
    font-size: clamp(18px, 10vw, 5rem);
    color: red;

}
.colorscore{
    font-family: 'lato', sans-serif;
}
.totalScoreUnText{
    font-size: clamp(20px, 12vw, 1rem);

}

.playerun{
    margin-bottom: 6rem;
}
footer{
    position: relative;
    bottom: 0;
    margin-top: 15px;
    font-family: 'lato', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

label{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
.backgroundmodalnewparty{
    background-image: url(/IMG/backgroundmodalnewparty.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fonttitlemodal{
    font-size: 2rem;
    font-family: 'quantumregular';
}
.fontmodal{
    font-size: clamp(25px, 10vw, 7rem);
}
.shadowmodal{
    box-shadow: 10px 10px 30px rgba(155,0,185,1);
}